<p>Enter your 5 Card Poker Hands - Example: 5d 10s jc 3h 5c
<form ng-submit="submithands()">
	<div class="form-group">
		<label for="firsthand">First Hand:</label> 
		<input type="text" ng-model="firsthand" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="secondhand">Second Hand:</label>
		<input type="text" ng-model="secondhand" class="form-control"/>
	</div>
		<button type="submit"  id="submit" value="submit" class="btn btn-default">Submit</button>
</form>